:root {
  --height: 100vh;
  --title-font: 'Involve', sans-serif;
  --text-font: 'Rubik', sans-serif;
  --bg: #fff;
  --bg-gray: #F0F1F266;
  --text: #000000CC;
  --white: #fff;
  --black: #000000CC;
  --border: #0000001A;
  --gray: #00000066;
  --gray-two: #00000099;
  --gray-three: #333333;
  --red: #F64747;
  --green: #62B435;
  --blue: #3498DB;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--black);
  color: var(--bg);
}

*::selection {
  background-color: var(--black);
  color: var(--bg);
}

*::marker {
  font-size: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: var(--black);
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg);
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: var(--height);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background-color: var(--bg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover {
  border: none;
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0 1000px var(--bg) inset;
  color: var(--text);
  box-shadow: 0 0 0 1000px var(--bg) inset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

input,
textarea,
label {
  cursor: none;
}

img {
  pointer-events: none;
}

button, button:hover {
  outline: 0;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.15s linear;
  cursor: none;
}

a:hover {
  color: var(--text);
  text-decoration: none;
}

ul,
p,
label,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  width: 100vw;
  margin: -1px 0 0;
  padding: 0 0 2px;
  position: relative;
  opacity: 1;
  pointer-events: all;
  background-color: var(--bg);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
}

.overlay.active {
  background-color: rgba(108, 108, 108, 0.3);
  opacity: 1;
  visibility: visible;
}

/* button */

.btn {
  padding: 12px 17.5px;
  border-radius: 4px;
  text-align: center;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.btn__pripary {
  color: var(--white);
  background-color: var(--blue);
}

.btn__pripary:hover {
  background-color: var(--black);
}

/* button */